<!DOCTYPE html>
<html>
<head>

  <!--
  
  Alright, you can look at this code - but only if you solve this maze within 10 seconds. 
  Fair is fair. Answers on a postcard, please.            
  
  Start.
  
  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa   a
  8   8               8               8           8                   8   8
  8   8   aaaaaaaaa   8   aaaaa   aaaa8aaaa   aaaa8   aaaaa   aaaaa   8   8
  8               8       8   8           8           8   8   8       8   8
  8aaaaaaaa   a   8aaaaaaa8   8aaaaaaaa   8aaaa   a   8   8   8aaaaaaa8   8
  8       8   8               8           8   8   8   8   8           8   8
  8   a   8aaa8aaaaaaaa   a   8   aaaaaaaa8   8aaa8   8   8aaaaaaaa   8   8
  8   8               8   8   8       8           8           8       8   8
  8   8aaaaaaaaaaaaaaa8aaa8   8aaaa   8   aaaaa   8aaaaaaaa   8   aaaa8   8
  8           8       8   8       8   8       8           8   8           8
  8   aaaaa   8aaaa   8   8aaaa   8   8aaaaaaa8   a   a   8   8aaaaaaaaaaa8
  8       8       8   8   8       8       8       8   8   8       8       8
  8aaaaaaa8aaaa   8   8   8   aaaa8aaaa   8   aaaa8   8   8aaaa   8aaaa   8
  8           8   8           8       8   8       8   8       8           8
  8   aaaaa   8   8aaaaaaaa   8aaaa   8   8aaaa   8aaa8   aaaa8aaaaaaaa   8
  8   8       8           8           8       8   8   8               8   8
  8   8   aaaa8aaaa   a   8aaaa   aaaa8aaaa   8   8   8aaaaaaaaaaaa   8   8
  8   8           8   8   8   8   8           8               8   8       8
  8   8aaaaaaaa   8   8   8   8aaa8   8aaaaaaa8   aaaaaaaaa   8   8aaaaaaa8
  8   8       8   8   8           8           8   8       8               8
  8   8   aaaa8   8aaa8   aaaaa   8aaaaaaaa   8aaa8   a   8aaaaaaaa   a   8
  8   8                   8           8               8               8   8
  8   8aaaaaaaaaaaaaaaaaaa8aaaaaaaaaaa8aaaaaaaaaaaaaaa8aaaaaaaaaaaaaaa8aaa8
  
  End.
  
  -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/styles/script/socialmedia.css">


<style>
body {
	color: white;
	background-color: #414a50;
	background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

#change{
	margin-top: 0;
}

.sidenav {
  font-family: "Lato", sans-serif;

    background-color: #45beca;

	background-position: center; 

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: #111;*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.main-text{
font-family: 'Dosis', sans-serif;
	text-align: center;
}
h3{
  margin-bottom: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/about">About</a>
  <a href="/projects">My Projects</a>

  <a href="/">Home</a>  
</div>

<div id="main">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#">Personal Blog</a>
    </div>
    <div class="nav navbar-nav navbar-right">
    	<li><a href="#" style="padding-top:6px;padding-bottom:6px;" onclick="openNav()"><span  class="glyphicon glyphicon-th-large click" style="font-size: 3rem;"></span></a></li>
    </div>
  </div>
</nav>

<!-- <div class="animated bounceInDown " style="position: absolute;">
  <a href="#" id="logo" style="margin-top:240px;padding: 20px;" class="fa fa-github"></a>
  <a href="#" id="logo" style="margin-top:240px;padding: 20px;" class="fa fa-facebook"></a>
  <a href="#" id="logo" style="margin-top:240px;padding: 20px;" class="fa fa-linkedin"></a>
  <a href="#" id="logo" style="margin-top:240px;padding: 20px;" class="fa fa-instagram"></a>
</div> -->
<div class="container main-text">
  <h1 style="font-size: 6rem">CONTACT</h1>
  <h2>I'd <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>  to help!</h2>
  <h4 style="margin-top: 25px;">&nbsp &nbsp I like to create things with fun, Open-minded people. Feel free to say hello!.</h4>
  <div style="margin-top: 8%">  
  <h3><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-bottom: 0;"></span> &emsp; Thapar University,<br>&emsp; &emsp; Patiala Punjab,India</h3>
<h3><span class="glyphicon glyphicon-earphone" aria-hidden="true" style="margin-bottom: 0;"></span> &emsp; (+91) &nbsp 7087-689045</h3>
<h3><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-bottom: 0;"></span> &emsp; abhaygautam.1303.ag@gmail.com<h3>

</div>

</div>
<h3 class="" style="text-align: center">
<div  style="position: absolute;display: inline-flex;
    list-style: none;
    margin-left: -15rem;
   ">
  <a href="https://github.com/abhaygt03" id="logo" style="padding: 20px;" class="fa fa-github"></a>
  <a href="https://www.facebook.com/abhay.gautam.1428921" id="logo" style="padding: 20px;" class="fa fa-facebook"></a>
  <a href="https://www.linkedin.com/in/abhay-gautam-509a93183/" id="logo" style="padding: 20px;" class="fa fa-linkedin"></a>
  <a href="https://www.instagram.com/abhay_gt03/" id="logo" style="padding: 20px;" class="fa fa-instagram"></a>
</div>
</h3> 


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "#414a50";
}
</script>
   
</body>
</html> 
