<!DOCTYPE html>
<html>
<head>
	<title>Portofolio</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/styles/script/socialmedia.css">
<style>
body {
	color: white;
	/*background-image:url("http://seanhalpin.io/assets/img/content/home/masthead/land.svg");*/
	background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

#change{
	margin-top: 0;
}
h3{
	color: #41a19a;
}
h1{
	
	color: #4ab19a;
}
.sidenav {
	font-family: 'Averia Serif Libre', cursive;
		background-color: #45beca;
	/*background-image: url("/styles/script/mypic.jpg");*/
	/*background-position: center; */

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
	background-color: #e0ebe8;
	padding-bottom: 0

}

.main-text{
	font-family: 'Averia Serif Libre', cursive;
	text-align: center;
	
}

.down{
	text-align: center;
	padding-top: 80px;

}

#myProgress {
  width: 100%;
  background-color: transparent;
}

#myBar {
  width: 1%;
  height: 3px;
  background-color: #45beca;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/about">About</a>
  <a href="/projects">My Projects</a>
  <a href="/contact">Contact</a>
</div>

<div id="main">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#">My Portfolio</a>
    </div>
    <div class="nav navbar-nav navbar-right">
    	<li><a href="#" style="padding-top:6px;padding-bottom:6px;" onclick="openNav()"><span  class="glyphicon glyphicon-th-large click" style="font-size: 3rem;"></span></a></li>
    </div>
  </div>
</nav>

      <img src="https://i.imgur.com/4Wtfr8r.png" style="width: 10rem;height: 10rem;border-radius: 50px;">
<div class="main-text container">

  <h1 style="font-size: 8rem;margin-bottom: 30px;font-weight: 500;font-family: 'Caveat', cursive;">I'm <span class="my-name">Abhay .</span></h1>
  <h3 style="font-size: 2rem;margin-top: 20px;margin-bottom: 10px;"> A full stack web developer who</h3>
  <h3 id="change" style="font-size: 2.2rem;margin-bottom: 30px;">Enjoys working as much as playing</h3>
  
  <div id="myProgress">
  <div id="myBar"></div>
  <img style="width: 100%;height: 300px;margin-top: 20px;" src="http://seanhalpin.io/assets/img/content/home/masthead/land.svg">
</div>
  <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
</div>
</div>



<div class="container down">
      <img src="https://i.imgur.com/4Wtfr8r.png" style="max-width: 14rem;
      max-height:14rem;border-radius: 100px;">
  <h3 style="font-size: 2em;margin-top: 20px;margin-bottom: 10px;color: #45b29a;padding-top: 20px;">Hi.</h3>
  <h3 style="color:black; font-size: 1.5em;color:#545454">I'm a web designer / developer based in Punjab,<br> India. I have a passion for web design and love to<br> create for web and mobile devices.</h3>
		
</div>

<div class="container down">
	<h1 style="margin-bottom:28px;color: #45beca;">What can i do?</h1>
      <div class="container">
        <div class="row">
          <h3 style="font-size: 2em;margin-bottom: 10px;color: #45b29a;">Design what you want.</h3>
          <div class="col-sm-2"></div>
          <div class="col-sm-1">
                <img src="https://i.imgur.com/4Wtfr8r.png" style="max-width: 8rem;max-height:8rem;border-radius: 100px;">
              </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            
            <h3 style="color:#45beca;; font-size: 1.5em;color:#545454">My approach is to create a website that conveys<br> your message.I like to keep it simple and <br>easy to use.</h3>
 
          </div>    
        </div>
      </div>

 
</div>

<div class="container down">
  <div style="display: inline-block;">
  <h3 style="font-size: 2em;margin-bottom: 10px;color: #45b29a;padding-top: 20px;">How i do this?</h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-5">
         <h3 style="color:#45beca;; font-size: 1.5em;color:#545454;margin-bottom: 4rem;">I develop websites using the latest and the <br>most popular technologies keeping the client's<br> needs in mind.</h3>
      </div>
          <div class="col-sm-1">
                <img src="https://i.imgur.com/4Wtfr8r.png" style="max-width: 8rem;max-height:8rem;border-radius: 100px;">
              </div>
          </div>
    </div>
  </div>
		</div>
      

</div>

<div class="container down">
  <div style="display: inline-block;">
  <h3 style="font-size: 2em;margin-bottom: 10px;color: #45b29a;padding-top: 20px;">Want some help?</h3>
  <h3 style="color:#45beca;; font-size: 1.5em;color:#545454">If you have a project that you want to get started, <br> think you need my help with something or <br>just fancy saying hey, then get in touch.</h3>
		<a href="/contact" class="btn btn-success" style="margin: 20px;">Contact Me!</a>
		</div>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
<script type="text/javascript" src="/styles/script/landing.js"></script>
   
</body>
</html> 
