<!DOCTYPE html>
<html>
<head>
	<title>Portofolio</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles/script/socialmedia.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">

<style>
  @font-face {
    font-family: parafont;
    src:url("/styles/font/adobe-garamond-pro/AGaramondPro-Regular.otf");
}
	@media (max-width:1200px) {
  img#optionalstuff {
    display: none;
    position: absolute;
  }
}
	@media (max-width:400px) {
  span#optionalstuff {
    display: none;
  }
}

.subpara{
  font-family: parafont;
  font-weight: 300;
  font-size: 1.5em;
}
.subheading {
  text-align: left;
}

.para{
  text-align: left;
  max-width: 50rem;
}

@media only screen and (max-width: 768px) {
  .subheading {
  text-align: center;
}
.para {
  text-align: center;
  max-width: 100%;
}
.contactbtn{
  width: 80%;
}
}


body {
	color: white;
	/*background-image:url("http://seanhalpin.io/assets/img/content/home/masthead/land.svg");*/
	background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

#change{
	margin-top: 0;
}
h3{
	color: #41a19a;
}
h1{
	
	color: #4ab19a;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
	background-color: #e0ebe8;
	padding-bottom: 0

}

.main-text{
	font-family: 'Averia Serif Libre', cursive;
	text-align: center;
	
}

.down{
	text-align: center;
	padding-top: 80px;

}

#myProgress {
	padding-left: 4rem;
  width: 90%;
  background-color: transparent;
}

#myBar {
  width: 1%;
  height: 3px;
  background-color: #45beca;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>


<!-- <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/about">About</a>
  <a href="/projects">My Projects</a>
  <a href="/contact">Contact</a>
</div> -->

<div id="main">
	<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" >My Portfolio</a>
    </div>
    <div class="nav navbar-nav navbar-right">
    	<li><a href="#" style="padding-top:6px;padding-bottom:6px;" onclick="openNav()"><span  class="glyphicon glyphicon-th-large click" style="font-size: 3rem;"></span></a></li>
    </div>
  </div>
</nav> -->
<div class="container" style="padding:3rem;">
<div style="line-height: 3rem;float: right;font-family: 'Baloo Tamma 2', cursive;">
  <a href="/about" style="font-size: 2rem;color: #151515;text-decoration: none;">About</a>
  <a href="/projects" style="font-size: 2rem;margin-left: 3.5rem;color: green;text-decoration: none;">Projects</a>
  <a href="/contact"  style="font-size: 2rem;margin-left: 3.5rem;color: green;text-decoration: none;">Contact</a>
</div>
</div>
<div class="container">
      <img src="https://i.imgur.com/4Wtfr8r.png" style="width: 10rem;height: 10rem;border-radius: 50px;float: left;">
</div>
<div class="main-text container">
	<img src="/styles/script/cld.PNG" id="optionalstuff" style="margin:0;width: 20rem;max-height: 8rem;float: right;">
	<div class="container" style="max-width: 80rem;">
  <h1 style="font-size: 7.5rem;margin-bottom: 30px;margin-left:1rem;font-weight: 500;font-family: 'Caveat', cursive;">I'm <span class="my-name">Abhay <span id="optionalstuff">.</span></span></h1>
  <h3 style="font-size: 2rem;margin-top: 20px;margin-bottom: 10px;"> A full stack web developer who</h3>
  <h3 id="change" style="font-size: 2.2rem;margin-bottom: 30px;">Enjoys working as much as playing</h3>
  <div id="myProgress">
  <div id="myBar"></div>
  </div>
  </div>
	<img src="/styles/script/cld.PNG" id="optionalstuff" style="width: 20rem;max-height: 8rem;float: left;position: absolute;">
  <img style="width: 100%;margin-top: 2rem;" src="/styles/script/land.svg">

</div>

  <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> -->
</div>

</div>



<div class="container down">
      <img src="https://i.imgur.com/4Wtfr8r.png" style="max-width: 14rem;
      max-height:14rem;border-radius: 100px;">
  <h3 style="font-size: 2em;margin-top: 20px;margin-bottom: 10px;color: #45b29a;padding-top: 20px;">Hi.</h3>
  <h3 style="color:black; font-size: 1.5em;color:#545454;line-height: 1.42857143;" class="subpara">I'm a web designer / developer based in Punjab,<br> India. I have a passion for web design and love to<br> create for web and mobile devices.</h3>
		
</div>

<div class="container down">
	<h1 style="margin-bottom:28px; color: #1e836c; font-weight: 500;font-size: 3.8em;font-family: 'Open Sans', sans-serif;font-weight: 600;">What can i do?</h1>
      <div class="container">
        <div class="row">
          
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
                <img src="https://elsonbaty.ca/assets/img/content/home/what-i-do/design-icon.png" style="max-width: 13rem;max-height:13rem;border-radius: 100px;">
              </div>

          <div class="col-sm-6" style="margin-left: 1rem;">
            <h3 style="font-size: 2em;margin-bottom: 10px;color: #45b29a;font-family: 'Open Sans', sans-serif;font-weight: 600;" class="subheading">Design what you want</h3>
            <h3 style="font-size: 1.5em;color:#545454;line-height: 1.42857143;" class="para subpara">My approach is to create apps and websites that conveys your message.I like to keep it simple and easy to use.</h3>
 
          </div>    
        </div>
      </div>

 
</div>

<div class="container down">
  <div style="display: inline-block;">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
  <h3 style="font-size: 2em;margin-bottom: 10px;color: #45b29a;padding-top: 20px;font-family: 'Open Sans', sans-serif;font-weight: 600;" class="subheading">How i do this?</h3>
         <h3 style="color:#45beca;; font-size: 1.5em;color:#545454;margin-bottom: 4rem;line-height: 1.42857143;" class="para subpara">I develop apps and websites using the latest and the most popular technologies keeping the client's needs in mind.</h3>
      </div>
          <div class="col-sm-2">
            <img src="https://elsonbaty.ca/assets/img/content/home/what-i-do/dev-icon.png" style="max-width: 13rem;max-height:13rem;border-radius: 100px;">

              </div>
          </div>
    </div>
  </div>
		</div>
      

</div>

<div class="container down">
  <div style="display: inline-block;">
  <h3 style="font-size: 2em;margin-bottom: 10px;color: #45b29a;padding-top: 20px;font-family: 'Open Sans', sans-serif;font-weight: 600;">Want some help?</h3>
  <h3 style="color:#45beca;; font-size: 1.5em;color:#545454;line-height: 1.42857143;" class="subpara">If you have a project that you want to get started, <br> think you need my help with something or <br>just fancy saying hey, then get in touch.</h3>
		</div>
</div>
<a href="/contact" class="btn contactbtn" style="margin: 20px;background-color: #63D4B9;color: white;padding:0.9rem 2.1rem 0.9rem 2.1rem;font-size: 1.3em;font-family: 'Raleway', sans-serif;font-weight: 600;">Contact Me!</a>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
<script type="text/javascript" src="/styles/script/landing.js"></script>
   
</body>
</html> 
