<!DOCTYPE html>
<html>
<head>
  <title>Portofolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
body {

  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

#change{
  margin-top: 0;
}

.sidenav {
  font-family: 'Averia Serif Libre', cursive;
    background-color: #45beca;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  background-color: #e0ebe8;
  padding-bottom: 0;


}

.main-text{
  font-family: 'Averia Serif Libre', cursive;
  
}


#myProgress {
  width: 100%;
  background-color: transparent;
}

#myBar {
  width: 1%;
  height: 3px;
  background-color: #45beca;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <a href="/">Home</a>

</div>

<div id="main" >
<!--   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#">My Portfolio</a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <li><a href="#" style="padding-top:6px;padding-bottom:6px;" onclick="openNav()"><span  class="glyphicon glyphicon-th-large click" style="font-size: 3rem;"></span></a></li>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 97vw">
  
    <ul class="navbar-nav mr-auto">
<li class="nav-item active">
        
          <a href="#" style="padding-top:6px;padding-bottom:6px;" onclick="openNav()"><span  class="navbar-toggler-icon click" style="font-size: 2vw;"></span></a>
        </li>

      <li class="nav-item active">
      <a class="navbar-brand" href="#" style="font-size: 1.8vw;margin-left: 2vw;">My Portfolio</a>
        </li>
      </ul>
    </nav>
   <!-- <img src="" style="width: 75px;height: 75px;border-radius: 50px;"> -->
<div class="main-text" style="margin-top: 4.5vw;">

<div class="card" style="width: 23vw;display: inline-block;margin-left: 20vw;">
  <img class="card-img-top" src="https://lh3.googleusercontent.com/RpENiKACEYcqMai4bKTVkt2Nc623__AyGH2AZCoP37Hi4PG0A6xwND2C5C1ft4trrMlCfZi5lwK7xomeZS29yHOjW_kqOvvpoJIlNw0Spe-lWWE1dW8RyKlkuOLtbOMqAXw99CbLBMQ-G0r27wZR32IP_CyPdPk_yKDlwEwqh3XyGsiyVUbQ5h1IMFOq9KUGBZ66IDg9o1Ti0jovvvqEa9zszkJtU-4GiyE8DguL5iWJVkQnrA-XUsD2-TwPKl4gy5LOBGLRvYmLAJs0G5pxh3xUSx8TAVmgQTKR0GRfnKXquFFNvcfObdCnneFV6z1bmxLLxPshba9GTygGqIxDHv8M1H7jJoCyM-2hVAdZHhJEezyO4V8ICY5s9U57elXERFoBz8q2lxj9YBXxPS0d9GFL8gHWIyT8M7p4E14GKexOhpkmdoROX_Q4sOhWO8VBDINlssXOzeUCALM_GHThXWod6p6Ay19Oo-ZSC8d5u89k4sGuM8dboPsqpB33mXAL0INbbBzcffo8E7ZgiDv1z22xBJhABG7Lb7XILaGwxnRLU6sZi7mjkDtsOM5hhcik6otAo2gJqJ1s9m_x-n6dh-Wf2MnhsRR_GkRjQ9ZFB8QCKjbtieB3WoOFT3qL2HI1KvDkTuu3mm8j2ISf4L4Y2ilGlXuLpxKPlYkUvnOWXl_5egufW9q2vU8=w1785-h843-no" style="width: 23vw;height: 15vw;" alt="Card image cap">
  <div class="card-body">
 
    <h5 class="card-title"><img src="https://lh3.googleusercontent.com/nDg4xy9GamfytGWeSvBk-sJ27pVYijt8bolN-yOvl1ibqD-CfyW_XK0tbFRwYFEaut88rVr_9otpsixIamTab7lO4IWBk3caDLKLMEzLF8jTtAoyQGdRZBsH5IEOgvq0ts1J4yIUlg-9YX5DGtG7Sr0lBkfXQ70W6emEqVJilZ2xugjjTW3hVNcWtDuLBvPtJ9Y4HZJ9iT1Ti_6aA0tUjFMdaoeicvRZAMEKxlJ5zp07PSwg-nFU8BOm_HJqcreBFTz28Ym-21VThHEVcstgELw66gXsbzXtWhZaSxZo7Cmoz80w4XGDUUrvGiCJGSu6yLx57f9TPE3hAInEUiYWnlf88WOyrg_2L26cgl6RPmXhnqbhTQLSb6CSK-ZNi7iLiLmjBRbJWuRXf3m5aefjbnEnNCPYTvJSXmxGMq9mwZ32jDaauitisYn-eByPNLEBVN_bIT2OWXVlOQ-OF7Rhz53HeM3k1HVl-shHKy1xx76fPqLGNminqyjuYy5G13b6PcMR56h3ltFOODuKa6ovrh2AoEhDcXDuRI7FuifBUL9fd49h7ayxuzoLyz-No0_HKk2e_ePA8DQ9mbbd-RUHVPu62cWxWtkadH6lm7yzoaA0eqUnBUQvNKQIvhxIdPdfb9PxkAn6UYhQylBjhNslQrSnE2edMAZkBqqVTGB7aQ9PPLXYyYsI_7s=w190-h75-no" style="border-radius: 20px;width: 5.3vw;"></h5>
    <p class="card-text" style="font-size: 1.1vw">Pixus is a photo and video-sharing social networking service. It was created by Abhay Gautam, and launched in February 2020. FOr now it is PC compatible, but soon the phone supportive verison will be released.</p>
    <a href="#" class="btn btn-primary" style="width: 4.6vw;font-size: 1vw">Pixus</a>
  </div>
</div>

<div class="card" style="width: 23vw;margin-top: 50px;display: inline-block;margin-left: 10%;">
  <img class="card-img-top" src="https://lh3.googleusercontent.com/pljOTrKEI73oADj-2Sb7anmewfdibaQF4A0rh0Ezyq6KItRsyGxPjz9WQZcZS0AZpfVVBh0ckTaVVAq-cSlpZxn2PruALT9nxZbP8a-F-6WsrYtaSgkCzkq3hVicI48UfyNj1OoNloLXPjYRYlK4GfJJnqNJOrjxiyMEyCIVczdbR-cC0J1urVz5NRW4vcsC-M90zSDx3v2hUuVHmi1ayqLictTQ4TAYRbg7zuwTMAJTN3NAZ_H2BT57ZuU-dWODkZCBDmrerY6aNVQrwflSjQpPRFB8Hn7VpdajNn90B3D_4MJwEKP0wYjXyKsIWoiGqIVnIGkWCr4Q_ewGgIhF5N793f0GOkjj6Bnu4GxjvwBm56YfJqyDOSwurNiR0oGHou_ng_q3x-15p_sr6Ytn0QhT5abERPaSDEzwJ-oZhjzJ_dLZ4kVHRtDY4ma7WxePr32MtcjBjNMXQQUfiIVS6g-OZy_vJWS80xYiW2KyfNx46xKrlHCXr0-ciJw4ALUL-eFt9aPAwKF_RRlLMk_MxKSW66uMk8ZIn3bgbiNeZGKUJBHzJ8a4kRByKb7JB_0owSRtO8chrytDApEEflXPzkWRjj1MK0t3jl2l-y957vc6zJSkogllQZ6FJ864qvW9-jAia6o5SwX9JLOu4v_h8b9iD2EXzGxvWsp7KWwY_P1cm5riewIhgiQ=w646-h303-no" style="width: 23vw;height: 15vw;" alt="Card image cap">
  <div class="card-body">
 
    <h5 class="card-title"><img src="https://lh3.googleusercontent.com/IEgsl1h4HDeAVBSsZWETcFOSAK01T8I4eBYM-gqbD3hVybUKHWPIVR7ZqfzOS092C97018kPRox5mA98gXfQAQt7WNQUlv-dfMeOfLckL8rdqvWXE06dOkH3cf5cB5URJqm9ofGGsayY3VaGw64Qd8FTi6mrO1if2yPIo7ZL-Lb5pOSNBvHG9-NQpuNLXkKy30-yzAQz0AoD7BVo6usr2gmDpwrQtiVSFcpLvoJ2L3nEcF4S1pvTpA97co-0VcIGC6jV7TeXt2ZdRPog17zkkCJEmULQEUkGBz9s24hQDA0Od2KBf-mtFvfK0Qqv9A4OJoPcXwhk0bQnSwiG3aLkAXYUTVtFyhbksbKgKpgkN8AOUGM-_REFtQ4o0cgfmL6ewdJrJdp007FOFgf_Wk6yZt-CD1Wpqqy5kvBvJT3ulvP3nkOx3i_9uv3ctbYeqlFnE4b8ZMElKjDp9Gtf1O3Bkj4JTU8AShaVVVWLpmyOcFM2lHLPfxy9DQTe2MsFkPJcFQ0yDrx25ZkxeEZgy-9T5_lYU3lQ4LVq-O8i_SP3X-2Eee6kIK9C2AO4xKZP1PVpVH497Y2_Dyv8f9h76s9WBjmK_-SG0uZXbpP5AC7oIVYoAIo-ZPS5RgIyI2ICFjiJAKvHR0BdJsNycSUAM-WMNEjtXsxaGKf9wy2tojUsQjMguqStKqaGl8A=w433-h166-no" style="border-radius: 20px;width: 5.3vw;"></h5>
    <p class="card-text" style="font-size: 1.1vw">Pixus is a photo and video-sharing social networking service. It was created by Abhay Gautam, and launched in February 2020. FOr now it is PC compatible, but soon the phone supportive verison will be released.</p>
    <a href="http://yelpcampjbn.herokuapp.com/" class="btn btn-primary" style="font-size: 1vw;">YelpCamp</a>
  </div>
</div>
</div>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
<script type="text/javascript" src="/styles/script/landing.js"></script>
   
</body>
</html> 
