<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta author="Abhay Gautam">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
		p::-webkit-scrollbar {
  width: 0.2em;
}

p::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
p::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

p{
	color: #e6e6e6;
}

.projectcards{
	display: flex;
	justify-content: center;
	align-items: center;
}

.skill{
	color: #e6e6e6;
	border:1px solid #202024;
	background-color: #3c3c44;
	padding: 0.7rem;
	font-family: parafont;
	font-size: 0.9 rem;

}
.skillul{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  transition: background-color .5s;
  background-color: #202024;
}

#change{
  margin-top: 0;
}

.sidenav {
	background: url("/styles/script/bubble.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  background-color: black;		
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.appl{
	 margin:0.5rem;
	    padding:0.3rem;
	    background-color:black;
	    color: #e6e6e6;
	    font-size: 0.9em;
	    border-radius:5px;
	    transition: 0.2s ease-in;
    	animation-duration: 1.6s;
    	text-align: center;
    	border:2px solid #e6e6e6;
    	text-decoration: none;
		font-family: parafont;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}

.main-text{
  /*font-family: 'Averia Serif Libre', cursive;*/
  
}
p{
	font-family: parafont;
}

.card-text{
	font-size: 0.8em;
	margin-bottom: 15px;
		   padding-bottom: 5px;
		   display: block;/* or inline-block */
			 text-overflow: ellipsis;
			 word-wrap: break-word;
			 overflow: hidden visible;
			 max-height: 3rem;
			 line-height: 1.6rem;
}

#myProgress {
  width: 100%;
  background-color: transparent;
}

#myBar {
  width: 1%;
  height: 3px;
  background-color: #45beca;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@font-face {
    font-family: parafont;
    src:url("/styles/font/ClashofClansFont/Supercell-magic-webfont.ttf");
}

.sidenav a{
  font-family: parafont;
}

</style>
</head>
<body>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <a href="/">Home</a>

</div>

<div id="main" >

 <span style="font-size:30px;cursor:pointer;color: white" onclick="openNav()">&#9777;<i class="far fa-arrow-alt-circle-right"></i></span>
<!-- <a href="#" style="padding-top:6px;padding-bottom:6px; color: white;" onclick="openNav()"><span  class="navbar-toggler-icon click" style="font-size: 2vw;"></span></a> -->

<div class="main-text" style="margin-top: 4.5vw;" >
<h1 class="sectionHeading" style="font-size: 3em;
    margin: 50px;
    margin-top: -85px;
    font-weight: normal;
    text-align: center;padding: 0;
	font-family: parafont;
    box-sizing: border-box;display: block;color: #e6e6e6;">Projects</h1>
<div class="container">

	<div class="row">

		<div class="col-sm" class="projectcards" style="margin-bottom:3rem;">
			<div class="card" style="width: 320px;display: inline-block;border:2px solid grey;background-color:#202024;
			box-sizing: border-box;border-radius: 10px;">
			 <img class="card-img-top" src="/styles/script/vulpix.jpg" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 20rem;width: 100%" alt="Card image cap">
			 <div class="card-body" style="padding:6px;">
		
	   <div style="
		   display:flex;
		   justify-content: space-around;
		   align-items: center;
		   margin-bottom: 15px;
		   margin-top: 15px;">
   
		   <a class="btn appl" style="color: grey;">View Live Version</a>
   
		   <a href="https://github.com/abhaygt03/Vulpix" class="btn appl" >View On Github</a>
   </div>
		   <p class="card-text">Vulpix is an android and iOS supported app for video-calling chatting and media sharing purposes. </p>
   
				 <p style="margin-bottom: 0.5rem;">Skills Used:</p>
   
			 <ul class="skillul">
				 <li class="skill">Flutter</li>
				 <li class="skill">Agora</li>
				 <li class="skill">Firebase</li>
				 <li class="skill">Firestore</li>
			 </ul>
			 </div>
		   </div>
	   </div>
   

	<div class="col-sm" class="projectcards" style="margin-bottom:3rem;">
	 	<div class="card" style="width: 320px;display: inline-block;border:2px solid grey;background-color:#202024;
	 	box-sizing: border-box;border-radius: 10px;">
	  	<img class="card-img-top" src="/styles/script/yelpcamp.jpg" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 18rem;width: 100%" alt="Card image cap">
	  	<div class="card-body" style="padding:6px;">
	 
	    <h5 class="card-title"><img src="https://i.imgur.com/8cmgpBU.png" style="border-radius: 20px;width: 5rem;max-height: 1.9rem;"></h5>
	<div style="
		display:flex;
		justify-content: space-around;
	    align-items: center;
	    margin-bottom: 15px;
	    margin-top: 15px;">

	    <a href="http://yelpcampjbn.herokuapp.com/" class="btn appl">View Live Version</a>

	    <a href="https://github.com/abhaygt03/YelpCamp" class="btn appl">View On Github</a>
</div>
	    <p class="card-text">YelpCamp is a web app for revieweing various famous camping spots. People can also post their camping experience by putting comments comments.</p>

	  		<p style="margin-bottom: 0.5rem;">Skills Used:</p>

	  	<ul class="skillul">
	  		<li class="skill">MongoDB</li>
	  		<li class="skill">Express</li>
	  		<li class="skill">EJS</li>
	  		<li class="skill">Node.js</li>
	  	</ul>
	  	</div>
		</div>
    </div>



    <div class="col-sm" class="projectcards" style="margin-bottom:3rem;">
	 	<div class="card" style="border-radius: 10px;width: 320px;display: inline-block;border:2px solid grey;background-color:#202024;
	 	box-sizing: border-box;">
  		<img class="card-img-top" src="/styles/script/pixus.PNG" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 18rem;width: 100%" alt="Card image cap">
	  	<div class="card-body" style="padding:6px;">
    	<h5 class="card-title"><img src="/styles/script/pixuslogo.PNG" style="border-radius: 20px;width: 5rem;max-height: 1.9rem;"></h5>
	 
	<div style="
		display:flex;
		justify-content: space-around;
	    align-items: center;
	    margin-bottom: 15px;
	    margin-top: 15px;" class="buttn">

	    <a href="https://pixusjbn.herokuapp.com" class="btn appl" >View Live Version</a>

	    <a href="https://github.com/abhaygt03/Pixus" class="btn appl">View On Github</a>
</div>
	    <p class="card-text" >A photo sharing social networking service. It was launched in February 2020. For now it is PC compatible, but soon the phone supportive verison will be released.</p>

	  	<p style="margin-bottom: 0.5rem;">Skills Used:</p>

	  	<ul class="skillul">
	  		<li class="skill">MongoDB</li>
	  		<li class="skill">Express</li>
	  		<li class="skill">EJS</li>
	  		<li class="skill">Node.js</li>
	  	</ul>
	  	</div>
		</div>
    </div>

	<div class="col-sm" class="projectcards" style="margin-bottom:3rem;">
		<div class="card" style="width: 320px;display: inline-block;border:2px solid grey;background-color:#202024;
		box-sizing: border-box;border-radius: 10px;">
		 <img class="card-img-top" src="/styles//script/toystory.png" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 18rem;width: 100%" alt="Card image cap">
		 <div class="card-body" style="padding:6px;">
	
	   <h5 class="card-title"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS13PKNXnyjQz-ys1X53adRJRJy1TNE7ws8_QoeAxDRXb0n-I7Q" style="border-radius: 20px;width: 5rem;max-height: 1.9rem;"></h5>
   <div style="
	   display:flex;
	   justify-content: space-around;
	   align-items: center;
	   margin-bottom: 15px;
	   margin-top: 15px;">

	   <a href="http://imdbjbn.herokuapp.com" class="btn appl">View Live Version</a>

	   <a href="https://github.com/abhaygt03/Movie-Search" class="btn appl">View On Github</a>
</div>
	   <p class="card-text" >Site that allows the users to search movies on IMDb</p>

			 <p style="margin-bottom: 0.5rem;">Skills Used:</p>

		 <ul class="skillul">
			 <li class="skill">IMDb API</li>
			 <li class="skill">Express</li>
			 <li class="skill">Bootstrap</li>
			 <li class="skill">Node.js</li>
		 </ul>
		 </div>
	   </div>
   </div>


<div class="col-sm" class="projectcards" style="margin-bottom:3rem;">
	 	<div class="card" style="width: 320px;display: inline-block;border:2px solid grey;background-color:#202024;
	 	box-sizing: border-box;border-radius: 10px;">
	  	<img class="card-img-top" src="/styles/script/FNnnQQi.png" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 18rem;width: 100%" alt="Card image cap">
	  	<div class="card-body" style="padding:6px;">
	 
	    <h5 class="card-title"><img src="https://i.imgur.com/TrOHoGn.png" style="border-radius: 20px;width: 5rem;max-height: 1.9rem;"></h5>
	<div style="
		display:flex;
		justify-content: space-around;
	    align-items: center;
	    margin-bottom: 15px;
	    margin-top: 15px;">

	    <a href="http://gocorogo.herokuapp.com/" class="btn appl">View Live Version</a>

	    <a href="https://github.com/abhaygt03/Corona-updates" class="btn appl">View On Github</a>
</div>
	    <p class="card-text">A site to check the details and figures regarding the corona virus spread around the world. It gives live figures for all the countries all around the world </p>

	  		<p style="margin-bottom: 0.5rem;">Skills Used:</p>

	  	<ul class="skillul">
	  		<li class="skill">jQuery</li>
	  		<li class="skill">Express</li>
	  		<li class="skill">EJS</li>
	  		<li class="skill">Node.js</li>
	  	</ul>
	  	</div>
		</div>
    </div>
   

  
  </div>

	

</div>
</div>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
<script type="text/javascript" src="/styles/script/landing.js"></script>
   
</body>
</html> 
